<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arrowBtnAction</key>
	<integer>2</integer>
	<key>audioDriverEnableAVFoundation</key>
	<true/>
	<key>audioLanguage</key>
	<string>eng</string>
	<key>autoSwitchToMusicMode</key>
	<false/>
	<key>compactUI</key>
	<integer>0</integer>
	<key>controlBarAutoHideTimeout</key>
	<real>2.4</real>
	<key>controlBarPositionHorizontal</key>
	<real>0.23024915261243387</real>
	<key>controlBarPositionVertical</key>
	<real>0.3039918664383562</real>
	<key>controlBarToolbarButtons</key>
	<array/>
	<key>defaultCacheSize</key>
	<integer>1804800</integer>
	<key>disablePlaySliderScrolling</key>
	<true/>
	<key>disableVolumeSliderScrolling</key>
	<true/>
	<key>displayInLetterBox</key>
	<false/>
	<key>dockedControlBarAndTitlebar</key>
	<integer>0</integer>
	<key>edgeToEdgeVideo</key>
	<integer>1</integer>
	<key>enableAdvancedSettings</key>
	<false/>
	<key>enableHdrSupport</key>
	<integer>1</integer>
	<key>enableInitialVolume</key>
	<true/>
	<key>enableLiveText</key>
	<false/>
	<key>enableOSD</key>
	<false/>
	<key>enableThumbnailForRemoteFiles</key>
	<true/>
	<key>enableToneMapping</key>
	<integer>1</integer>
	<key>enableToneMappingTargetPeakOverride</key>
	<integer>0</integer>
	<key>forceTouchAction</key>
	<integer>1</integer>
	<key>fullScreenWhenOpen</key>
	<true/>
	<key>hardwareDecoder</key>
	<integer>1</integer>
	<key>horizontalScrollAction</key>
	<integer>2</integer>
	<key>initialWindowSizePosition</key>
	<string></string>
	<key>initialVolume</key>
	<integer>100</integer>
	<key>musicModeShowPlaylist</key>
	<true/>
	<key>oscDissolveAppearDuration</key>
	<real>0.4000000059604645</real>
	<key>oscDissolveBlurRadius</key>
	<real>48.0</real>
	<key>oscDissolveDisappearDuration</key>
	<real>1.0</real>
	<key>oscDissolveEasing</key>
	<integer>2</integer>
	<key>oscDissolveOvershoot</key>
	<real>0.0</real>
	<key>oscPosition</key>
	<integer>0</integer>
	<key>pauseWhenMinimized</key>
	<true/>
	<key>quitWhenNoOpenedWindow</key>
	<true/>
	<key>receiveBetaUpdate</key>
	<true/>
	<key>rightClickAction</key>
	<integer>4</integer>
	<key>screenShotFormat</key>
	<integer>1</integer>
	<key>screenshotCopyToClipboard</key>
	<true/>
	<key>secPrefech</key>
	<integer>8200</integer>
	<key>showChapterPos</key>
	<true/>
	<key>showOSCVolumeControls</key>
	<false/>
	<key>showRemainingTime</key>
	<true/>
	<key>sidebarSettingsDisplayAtLeading</key>
	<false/>
	<key>softVolume</key>
	<real>100.0</real>
	<key>subBlur</key>
	<real>0.42</real>
	<key>subBorderColorString</key>
	<string>1.0/1.0/1.0/1.0</string>
	<key>subBorderSize</key>
	<real>0.0</real>
	<key>subDissolveAppearDuration</key>
	<real>1.2000000476837158</real>
	<key>subDissolveDisappearDuration</key>
	<real>0.46000000834465027</real>
	<key>subDissolveEasing</key>
	<integer>2</integer>
	<key>subDissolveOvershoot</key>
	<real>0.0</real>
	<key>subLang</key>
	<string>eng</string>
	<key>subMarginX</key>
	<integer>0</integer>
	<key>subOverrideLevel</key>
	<integer>2</integer>
	<key>subPos</key>
	<real>85.0</real>
	<key>subScale</key>
	<real>1.0</real>
	<key>subShadowSize</key>
	<real>0.2</real>
	<key>subTextColorString</key>
	<string>1.0/1.0/1.0/1.0</string>
	<key>subTextFont</key>
	<string>AppleGaramond</string>
	<key>subTextSize</key>
	<integer>42</integer>
	<key>subVisibility</key>
	<false/>
	<key>themeMaterial</key>
	<integer>4</integer>
	<key>toneMappingAlgorithm</key>
	<integer>3</integer>
	<key>toneMappingTargetPeak</key>
	<integer>1600</integer>
	<key>toneMappingTargetPeakOverride</key>
	<integer>800</integer>
	<key>unlockWindowAspectRatio</key>
	<true/>
	<key>useExactSeek</key>
	<integer>2</integer>
	<key>useLiquidGlassOSC</key>
	<integer>1</integer>
	<key>useLiquidGlassOSD</key>
	<integer>1</integer>
	<key>useLiquidGlassSidebar</key>
	<integer>1</integer>
	<key>usePhysicalResolution</key>
	<false/>
	<key>verticalScrollAction</key>
	<integer>2</integer>
	<key>videoViewAcceptsFirstMouse</key>
	<true/>
	<key>windowBehaviorWhenPip</key>
	<integer>1</integer>
</dict>
</plist>
